@page "/filteredListView"

    <div id="@FilteredListViewId" class="filteredListView">
        <FilteredListViewContent UniqueId="@UniqueId" RowHeaders="@RowHeaders" Rows="@Rows" FilterPlaceholder="@FilterPlaceholder" />
    </div>

@functions {
    [Parameter]
    string UniqueId { get; set; }
    [Parameter]
    string[] RowHeaders { get; set; }
    [Parameter]
    Row[] Rows { get; set; }
    [Parameter]
    string FilterPlaceholder { get; set; } = "Enter a filter";
    string FilteredListViewId => UniqueId + "FilteredListView";

    public void Refresh()
    {
        this.StateHasChanged();
    }
}
